doctype html
html.h-100(lang="en")
  head
    title= Title
    // script(src=assetPath('main.css'))
    script.
      var gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column.bg-light
    nav.navbar.navbar-expand-lg.navbar-light.bg-info
      a.navbar-brand(href="/") Pizzeria
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
        span.navbar-toggler-icon
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="/") Home
    .container-fluid.h-100.overflow-hidden
      .h-100#delivery
      // block content
    script(src=assetPath('main.js'))
