@import '~bootstrap/scss/bootstrap';

html, body {
  height:100%;
  margin:0;
}

body{
  display:flex;
  flex-direction:column;
  &::-webkit-scrollbar {
    display: none;
  }
}

.bg-navbar {
  background-color: #9b9ea21c;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: auto;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-history {
  position:fixed;
  background: white;
  width: 50%;
  height: 60%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.bg-active {
  background-color:  #f97c08;
}

btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
  }

.bg-pizza {
  padding: 2rem;
  background-color:  #f97106;
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0), rgba(245, 205, 144, 1)),
    url(header.jpg);
  background-size: cover;
}

.footer {
  background-color: #adcdec;
  text-align: center;
  padding: 0.5rem;
  margin-top:auto;
}

.menu {
  text-transform: capitalize;
}
